.header
{
   &__logo {
      transform: scale(0.65);
    }
  
     &__nav {
        float: right;
       
         & li {
            display: inline-block;
            margin-left: 1.5em;
        } 
     } 

    &__user-links
     {
        float: right;
        
    } 
 }  